.rio-overlay {
	position:absolute;
	
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(255,0,0,0);
	backface-visibility: hidden;
	.overlay-point {
		position:absolute;
		
		width:0px;
		height:0px;
		border-radius:5px;
		background-color:#000;
	}
}
.annotations {
		position:absolute;
		top:0;
		left:0;
		z-index: 999;

		.annotation {
			position:absolute;
			width:0px;
			
			overflow:visible;

			@include fs-textSans(1);

			&.time {
				@include fs-textSans(1);
				font-size:11px;
				color:#666;
				span {
					border:none !important;
					width:auto;
				}
			}

			span {
				position: absolute;
				display: block;
				width:150px;
			}
			&.side0 {
				span {
					top:10px;
					left:-150px;
					text-align: right;
					border-right:1px solid #ddd;
					padding-right:5px;
					padding-top:5px;
				}
				&.time {
					span {
						left:0;
						top:0;
						padding:0;	
						width:auto;
					}
				}
			}
			&.side1 {

				span {
					bottom:0px;
					left:0;
					border-left:1px solid #ddd;
					padding-left:5px;
					padding-bottom:25px;
				}

				&.time {
					span {
						left:0;
						top:0;
						padding:0;	
						width:auto;
					}
				}
			}

			div {
				background-color: transparent;
				border:2px solid #000;
			    width: 10px;
			    height: 10px;
			    position: absolute;
			    top: -5px;
			    left: -5px;
			    z-index: 9999;
			    border-radius: 5px;
			}
			
		}
	}