.oval {
	

	svg {
		//width:$width*1;
		//height:$width/$ratio*1;//0.8;
		
		backface-visibility: hidden;
		//transform:rotateX(45deg) rotateY(0deg) rotateZ(-10deg) translateX(220px) translateY(160px) translateZ(0px) scale(1);
		transform-style: preserve-3d;
	
		.inner-border {
			path {
				stroke:#333;
				stroke-width:1;
				fill:none;
				stroke-linecap:butt;
			}
		}
		
		.scaffolding {
			line {
				stroke:#fff;
				stroke-width:3;
				@include mq(tablet) {
					stroke-width:4;
				}
				stroke-linecap:butt;
				//shape-rendering:crispEdges;

				&.stagger {
					stroke-width:2;
					@include mq(tablet) {
						stroke-width:3;
					}
					stroke:#fff;
				}
			}	
		}
		

		.runners {
			
			.runner {
				path {
					stroke:#008BC9;
					stroke-width:1;
					fill:none;

					&.gold {
						stroke:#ffd700;
					}
					&.silver {
						stroke:#c0c0c0;
					}
					&.bronze {
						stroke:#cd7f32;
					}
				}	
			}
			
		}

		.background {
			path {
				stroke:$tarmac;//#1991C6;//#dedede;
				fill:none;
			}
		}

	}
}