.runner {
	
	.leg {
		path {
			stroke:#ddd;
			stroke-width:1;
			stroke-opacity:1;
			fill:none;
		}
	}
	.athlete {
		circle {
			stroke:none;
			fill:#000;
		}
	}
	.record {
		line {
			stroke:#fff;
			shape-rendering:crispEdges;
		}
	}
	
}