.stand-first {
	position:absolute;
	z-index:9999;
	top:0px;
	//left:0;
	margin-left:10px;
	
	

	@media (min-width: 61.25em) {
	    margin-left: 0rem;
	}
	@media (min-width: 71.25em) {
	    margin-left: 10rem;
	}
	@media (min-width: 81.25em) {
	    margin-left: 15rem;
	}

	@include mq(tablet) {
		left:0;
		width:40%;
		padding-left:20px;
		padding-right:0;
	}
	@include mq(desktop) {
		width:40%;
	}
	h1 {
		@include fs-header(4);
		
		@include mq(tablet) {
			font-size: 36px;
			line-height: 42px;
		}

		@include mq(desktop) {
			font-size: 44px;
			line-height: 48px;
		}

		@include mq(wide) {
			font-size: 52px;
			line-height: 56px;
		}
		margin-bottom:15px;
	}
	p {
		margin:0;
		
		@include fs-bodyCopy(1);
		color:#333;
		@include mq(tablet) {
			margin-top:20px;
			@include fs-bodyCopy(2);
		}
	}

	button{
		height: 30px;
		@include mq(tablet) {
			height: 42px;
		}
	    border: none;
	    padding: 0 15px 0 20px;
	    border-radius: 42px;
	    @include fs-textSans(4);
	    margin-top:10px;
	    @include mq(tablet) {
	    	margin-top:20px;
	    }
	    margin-bottom: 0;
	    
	    color:#fff;
	    background:#1991c6;
	    cursor:pointer;
	    outline:none;
	    &:after {
	    	content: "";
	    	display: block;
	    	float:right;
	    	background-image:url(./assets/imgs/arrow-right.svg);
		    background-repeat:no-repeat;
		    background-size:23px;
		    background-position: center center;	
		    width:23px;
		    height:23px;
		    padding-left:15px;
	    }
	    &:hover{
	    	background-color:#0082ba;
	    }
	    &.replay {
	    	&:after {
	    		background-image:url(./assets/imgs/replay.svg);
	    	}
	    }
	    &.inactive {
	    	color:#999;
	    	pointer-events:none;
	    	&:after {
				opacity: 0.3;
	    	}
	    }
	}

}