.stopwatch {
	
	@include fs-data(3);
	font-size:20px;
	@include mq(tablet) {
		font-size:26px;
	}
	font-weight:bold;
	
	position: absolute;

	bottom:0;
	left:10px;

	margin-bottom:20px;
	margin-left:-125px;

	@include mq(tablet) {
		top:0;
		right:0;
		bottom:auto;
		left:auto;
		margin-right:20px;
		margin-bottom:0px;
		margin-top:20px;
		width:125px;
	}
	
	z-index:9999;

	
	//width:150px;
	//height:80px;

	

	g {
		/* transform: translate(0px,40px);
		@include mq(tablet) {
			transform: translate(150px,40px);	
		} */
		
		text {
			text-anchor:start;
			@include mq(tablet) {
				text-anchor:end;
			}
			fill-opacity:0.6;

			&.time {
				fill:#333;
			}
			&.wr {
				font-size:12px;
				@include mq(tablet) {
					font-size:14px;
				}
				font-weight: normal;
				fill:#333;
			}
		}

		
	}

	&.hidden {
		display: none;
	}
}