.swimming {

	overflow:hidden;

	$ratio:1;
	
	$width:620px;
	$names_width: 140px;
	$times_width: 150px;
	
	$swimming_pool_width:$width - $names_width - $times_width;

	$height:500px;

	$li_padding_top:0;

	width:$width;
	//height:$height;

	position: relative;
	
	div.info {
		float:left;
		ul {
			margin:0;
			padding:0;
			li {
				list-style: none;
				height:$height/8;
				margin:0;
			}
		}
		&.swimmer-names {
			width:$names_width;
			ul {
				li {
					text-align: right;
					@include fs-header(1);
					//line-height: $height/8;
					span {
						display: inline-block;
						margin-top:15px;
					}
				}
			}
		}
		&.swimmer-performances {
			width:$times_width;
			ul {
				li {
					@include fs-headline(1);
					//line-height: $height/8;
					span {
						display: inline-block;
						margin-top:17px;
					}
					ol {
						margin:0;
						padding:0;
						display: block;
						overflow: hidden;
						li {
							list-style: none;
							float:left;
							width:15px;
							height:15px;
							padding-top:0;
							margin-right:3px;

							@include fs-textSans(1);
							line-height: 16px;
							text-align: center;
							
							border-radius:10px;
							border:2px solid #eee;

							cursor: pointer;
							
							&.gold {
								background-color:$gold_rgba_05;
							}
							&.silver {
								background-color:$silver_rgba_05;
							}
							&.bronze {
								background-color:$bronze_rgba_05;
							}

							&:hover {
								border-color:#bdbdbd;
								&.gold {
									border-color:$gold;
								}
								&.silver {
									border-color:$silver;
								}
								&.bronze {
									border-color:$bronze;
								}	
							}
							
						}
					}
				}
			}
		}
		&.swimming-pools {
			
			width:$swimming_pool_width;
			li {
				overflow: hidden;
			}
			svg {
				width:$swimming_pool_width;
				height:$height/8;
				margin-left:0;
				.swimming-pool {
					path.pool-line {
						stroke-width:1;
						stroke:#767676;
						fill:none;
						shape-rendering:crispEdges;
					}
					.water {
						rect {
							stroke:none;
							fill:#cbe7f4;
							fill-opacity:0.7;
						}
					}	
				}
				.swimmer {
					.leg {
						path {
							
							stroke-width:5;
							stroke-opacity:0;
							fill:none;
							stroke:#008BC9;
							


							&.gold {
								stroke:$gold;
							}
							&.silver {
								stroke:$silver;
							}
							&.bronze {
								stroke:$bronze;
							}
						}

						&.visible {
							path {
								stroke-opacity:1;
							}
						}
					}
				}
			}
		}
	}

	

	.timeline {
		width:$width - $times_width;
		height:50px;
		overflow: hidden;
		padding-left:$names_width;
		.step {
			float:left;
			width:20%;
			height:50px;
			.dot {
				display: block;
				width:20px;
				height:20px;
				border-radius:10px;
				background-color:#008BC9;
			}
			b {
				@include fs-textSans(1);
				color:#555;
				font-weight: normal;
			}
		}
	}

}