.stand-first {
	position:absolute;
	z-index:9999;
	top:0px;
	left:0;
	width:100%;
	@include mq(tablet) {
		width:75%;
	}
	@include mq(desktop) {
		width:65%;
	}
	h1 {
		@include fs-header(4);
		
		@include mq(tablet) {
			font-size: 36px;
			line-height: 42px;
		}

		@include mq(desktop) {
			font-size: 44px;
			line-height: 48px;
		}

		@include mq(wide) {
			font-size: 52px;
			line-height: 56px;
		}
		margin-bottom:15px;
	}
	p {
		@include fs-bodyCopy(2);
		@include mq(tablet) {
			@include fs-bodyCopy(1);
		}
	}

	button{
		height: 42px;
	    border: none;
	    padding: 0 40px 0 20px;
	    border-radius: 42px;
	    @include fs-textSans(4);
	    //float: right;
	    margin-bottom: 0;
	    margin-right: 38px;
	    color:#333;
	    background:#f4f4f4;
	    background-image:url(./assets/imgs/arrow-right.svg);
	    background-repeat:no-repeat;
	    background-size:23px;
	    background-position: 95% center;
	    cursor:pointer;
	    outline:none;
	    &:hover{
	    	background-color:#ddd;
	    }
	}

}
.swimming-perspective {

	overflow:hidden;
	
	border-bottom:1px solid #ddd;

	$ratio:1;
	
	$width:100%;
	$names_width: 140px;
	$times_width: 150px;
	
	$swimming_pool_width:500px;//$width;// - $names_width - $times_width;
	
	$li_padding_top:0;

	$height:500px;
	
	width:$width;
	height:100vh;

	@include mq(tablet) {
		height: 600px;
	}

	@include mq(desktop) {
		height:$height;
	}
	

	//width:$width;
	//height:$height;

	position: relative;

	transform-style: preserve-3d;
  	transition: perspective 1s, perspective-origin 1s;

	perspective: 520px;
	perspective-origin: 140% 10%;
	@include mq(tablet) {
		perspective: 600px;
		perspective-origin: 130% 0%;
	}
	@include mq(desktop) {
		perspective: 600px;
		perspective-origin: 100% 0%;
	}
	@include mq(wide) {
		/*perspective: 600px;
		perspective-origin: 100% -10%;*/
		perspective: 600px;
		perspective-origin: 100% 0%;
	}
	backface-visibility: hidden;
	
	&.from-blocks {
		perspective-origin: 50% 50%;	
		perspective: 245px;
		svg {
			//transform:rotateX(60deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) scale(1);
			transform:rotateX(60deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-60px) translateZ(-40px) scale(1);
		}
	}
	/*.overlay {
		position:absolute;
		display: none;
		top:0;
		left:0;
		background-color:rgba(255,0,0,0.2);
		backface-visibility: hidden;

		.swimmer-info {
			span {
				position:absolute;
				transform:rotate(-90deg);
				transform-origin:50% 50%;
				top:1000px;
				left:100px;
				
				@include f-textSans;

				font-size:50px;

				outline: 1px solid transparent
			}
		}
	}*/
	// * {
	// 	transform:none !important;
	// }
	svg,.overlay {
		transform:rotateX(65deg) rotateY(0deg) rotateZ(10deg) translateX(85px) translateY(-80px) translateZ(0px) scale(0.9);
	}

  	@include mq(tablet) {
  		svg,.overlay {
  			transform:rotateX(65deg) rotateY(0deg) rotateZ(10deg) translateX(105px) translateY(-230px) translateZ(90px) scale(1);
  		}
  	}
  	@include mq(desktop) {
  		svg,.overlay {
  			transform:rotateX(65deg) rotateY(0deg) rotateZ(10deg) translateX(-55px) translateY(-620px) translateZ(90px) scale(1)
  		}
  	}
  	@include mq(wide) {
  		svg,.overlay {
  			//transform:rotateX(60deg) rotateY(0deg) rotateZ(10deg) translateX(-75px) translateY(170px) translateZ(90px) scale(1);
  			transform:rotateX(65deg) rotateY(0deg) rotateZ(10deg) translateX(-225px) translateY(-780px) translateZ(90px) scale(1);
  		}
  	}

	svg {
		
		//margin-left:($width - $height)/2;

		//width:100%;//$swimming_pool_width - 50px;
		@include mq(tablet) {
		//	width:$width;//$swimming_pool_width;
		//	height:$width * 2;
		}
		//height:$height;//$height;
		
		transition: transform 1s;
		

		//transform:rotateX(50deg) rotateY(0deg) rotateZ(20deg) translateZ(0px) translateX(130px) translateY(-25px);
		
  		backface-visibility: hidden;
		
		&.end-side {
			//transform:rotateX(60deg) rotateY(0deg) rotateZ(10deg) translateX(270px) translateY(200px) translateZ(10px) scale(1);
			transform:rotateX(60deg) rotateY(20deg) rotateZ(0deg) translateX(40px) translateY(270px) translateZ(-30px) scale(1);
			@include mq(tablet) {
				transform:rotateX(60deg) rotateY(20deg) rotateZ(0deg) translateX(50px) translateY(240px) translateZ(-50px) scale(1);
			}
			
			@include mq(desktop) {
	  			transform:rotateX(60deg) rotateY(20deg) rotateZ(0deg) translateX(50px) translateY(150px) translateZ(-50px) scale(1);
	  		}
			@include mq(wide) {
	  			transform:rotateX(60deg) rotateY(0deg) rotateZ(10deg) translateX(-145px) translateY(280px) translateZ(70px) scale(1);
	  		}
		}
		


		.swimming-pool {
			path.pool-line {
				stroke-width:1;
				stroke:#767676;
				fill:none;
				shape-rendering:crispEdges;
			}
			.water {
				path {
					stroke:none;
					fill:$water;//#f2f2f2;
					fill-opacity:0.1;
				}
			}
			.lane-ropes {
				path.lane-rope {
					stroke-width:3;
					stroke:#333;
					stroke-opacity:0.25;
					&.r {
						stroke:$lane_red;
					}
					&.g {
						stroke:$lane_green;
					}
					&.bl {
						stroke:$lane_blue;
					}
					&.y {
						stroke:$lane_yellow;
					}
				}
			}
		}
		.swimmer {
			.leg {
				path {
					
					stroke-width:1;
					stroke-opacity:0;
					fill:#e0e0e0;

					fill-opacity:0;
					stroke:#e0e0e0;
					

				}
				path.guide-text-path {
					stroke-opacity:0 !important;
				}
				.swimmer-name {
					@include f-textSans;
					font-size:20px;
					@include mq(tablet) {
						font-size: 40px;
					}
					letter-spacing: 2px;
					fill: #FFF;
					//text-transform: uppercase;
					fill-opacity:0;

					&.stroke {
						stroke-width:3;
						stroke:#000;
						stroke-opacity:0;
					}
					
				}

				&.visible {
					path {
						fill-opacity:1;
						stroke-opacity:1;
					}
					text {
						fill-opacity:1;
						&.stroke {
							stroke-opacity:0.5;
						}
					}
				}
				&.m0 {
					text {
						transition: fill-opacity 2s, stroke-opacity 2s;
					}
				}
				/* &.m200 {
					path {
						fill-opacity:1;
					}
				}
				&.m400 {
					path {
						fill-opacity:1;
					}
				} */
			}
			&.gold {
				.leg {
					path {
						stroke:$gold;
					}
				}
			}
			&.silver {
				.leg {
					path {
						stroke:$silver;
					}
				}
			}
			&.bronze {
				.leg {
					path {
						stroke:$bronze;
					}
				}
			}

		}
	}
}