.swimming-perspective {

	overflow:hidden;
	
	// border-top:1px solid #ddd;
	// border-bottom:1px solid #ddd;

	$ratio:1;
	
	$width:100%;
	$names_width: 140px;
	$times_width: 150px;
	
	$swimming_pool_width:500px;
	
	$li_padding_top:0;

	$height:500px;
	
	width:$width;
	height:500px;;

	@include mq(tablet) {
		height: 500px;
	}

	@include mq(desktop) {
		height:$height;
	}

	position: relative;
	

	transform-style: preserve-3d;
  	transition: perspective 1s, perspective-origin 1s;
	
	perspective: 700px;
	perspective-origin: 90% 20%;
	
	@include mq(mobile) {
		perspective: 750px;
		perspective-origin: 90% 0%;
	}
	

	backface-visibility: hidden;
	
	&.from-blocks {
		perspective-origin: 50% 50%;	
		perspective: 245px;
		svg {
			transform:rotateX(90deg) rotateY(0deg) rotateZ(10deg) translateX(60px) translateY(-70px) translateZ(0px) scale(1);
		}
	}

  	svg,.rio-overlay {}
	
	&.end-side {
			svg,.rio-overlay {
				
	  		}
	}
	
	* {
		//transform:none !important;
	}

	svg {
		
		
		@include mq(tablet) {
		
		}
		
		
		transition: transform 1s;
  		backface-visibility: hidden;	
		
		
		

		.swimming-pool {
			path.pool-line {
				stroke-width:1;
				stroke:#767676;
				fill:none;
				shape-rendering:crispEdges;
			}
			.water {
				path {
					stroke:none;
					fill:$water;
					fill-opacity:0.1;
				}
			}
			.lane-ropes {
				path.lane-rope {
					stroke-width:2;
					@include mq(tablet) {
						stroke-width:5;
					}
					stroke:#333;
					stroke-opacity:0.25;
					&.r {
						stroke:$lane_red;
					}
					&.g {
						stroke:$lane_green;
					}
					&.bl {
						stroke:$lane_blue;
					}
					&.y {
						stroke:$lane_yellow;
					}
				}
			}
			text.axis {
				@include fs-textSans(1);
				
				font-size:12px;

				@include mq(tablet) {
					font-size: 30px;
					letter-spacing: 0px;
				}
				@include mq(desktop) {
					font-size: 35px;
					letter-spacing: 2px;
				}
			    
			    font-weight: bold;
			    fill: $water;
			    fill-opacity:0.6;
			    text-rendering: optimizeLegibility;
			    text-anchor:middle;
			}
		}
		.swimmer {

			.leg {
				transition: transform linear 2s;
				//transition-delay:1s;

				path {
					
					
					
					fill-opacity:0;
					fill:none;

					stroke-opacity:0;
					stroke:#1991C6;//#e0e0e0;
					

				}
				path.guide-text-path {
					stroke-opacity:0 !important;
					stroke:#000 !important;
					stroke-width:2 !important;
				}
				path.gap {
					stroke-opacity:0.5 !important;
					
				}
				.swimmer-name {
					@include f-textSans;
					font-size:16px;
					text-rendering: optimizeSpeed;
					
					@include mq(tablet) {
						font-size: 40px;
						&.time {
							font-size:19px;
						}
					}
					
					@include mq(wide) {
						font-size: 40px;
						&.time {
							font-size:28px;
						}
					}
					fill:#222;
					@include mq(tablet) {
						letter-spacing: 2px;
						fill: #FFF;
					}
					
					fill-opacity:0;



					&.stroke {
						stroke-width:3;
						@media (-webkit-min-device-pixel-ratio: 2) {
							stroke-width:2;
						}
						stroke:none;
						stroke-opacity:0;
						fill:none;
						@include mq(tablet) {
							stroke:#666;
						}
					}
					
				}

				&.visible {
					path {
						fill-opacity:1;
						stroke-opacity:1;
					}
					text {
						fill-opacity:1;
						&.stroke {
							stroke-opacity:0;
							@include mq(tablet) {
								stroke-opacity:0.5;
							}
						}
					}
				}
				&.m0 {
					text {
						transition: fill-opacity 2s, stroke-opacity 2s;
						&.time {
							transition-delay:1.5s;
						}
					}
				}
			}
			&.gold {
				.leg {
					path {
						stroke:$gold;
					}
				}
			}
			&.silver {
				.leg {
					path {
						stroke:$silver;
					}
				}
			}
			&.bronze {
				.leg {
					path {
						stroke:$bronze;
					}
				}
			}

		}
	}

	
	@import "annotations";

	.annotations {
		.annotation {
			&.side0 {
				&.time {
					span {
						margin-top:5px;
					}
				}
			}
			&.side1 {
				&.time {
					span {
						margin-top:-25px;
					}
				}
			}
		}
	}

}
.stopwatch {
	
}

.interactive-embed.fallback {
	.swimming-perspective {
		background-image: url(./assets/imgs/fm_4x100.png);
		background-size: auto 100%;
		background-position: right top;
		background-repeat: no-repeat;

		svg,
		.annotations {
			display: none !important;
		}
	}
	

	.stand-first button,
	.stopwatch {
		display: none !important;
	}
}