#team-pursuit {
	$ratio:(85.73+25.0*2)/50;
	$width:100%;
	$height:500px;
	//max-width:1260px;

	width:$width;
	height:$height;

	position: relative;

	overflow:hidden;
	border-bottom:1px solid #333;

	perspective: 400px;
	perspective-origin: 50% 100%;
	transform-style: preserve-3d;
	
	svg,.rio-overlay {
		transform-style: preserve-3d;
		transform:none;
	}
	
	&.p_none {
		svg,.rio-overlay {
			transform:scale(0.51) translateX(-50%) translateY(-50%);	
		}
	}

	&.p_center_bottom,
	&.p_bottom_center {
		svg,.rio-overlay {
			transform:rotateX(25deg) rotateY(0deg) rotateZ(0deg) translateX(-23%) translateY(-30%) translateZ(-10px) scale(0.8);
		}
	}
	&.p_right_bottom,
	&.p_bottom_right {
		svg,.rio-overlay {
			//transform:rotateX(35deg) rotateY(0deg) rotateZ(45deg) translateX(-180px) translateY(120px) translateZ(100px) scale(1);
			transform:rotateX(25deg) rotateY(0deg) rotateZ(25deg) translateX(-850px) translateY(40px) translateZ(110px) scale(0.7);
		}
	}
	&.p_left_bottom,
	&.p_bottom_left {
		svg,.rio-overlay {
			//transform:rotateX(35deg) rotateY(0deg) rotateZ(45deg) translateX(-180px) translateY(120px) translateZ(100px) scale(1);
			transform:rotateX(25deg) rotateY(0deg) rotateZ(-25deg) translateX(-50px) translateY(-615px) translateZ(0px) scale(0.9);
		}
	}
	
	svg {
		
		display: block;
	
		margin: 0 auto;
		
		transition: transform 1s;
		

		.scaffolding {
			line {
				stroke:#fff;
				stroke-width:2;
				shape-rendering:crispEdges;
			}	
		}

		.bg {
			path {
				stroke:$velodrome_lane;
				stroke-opacity:0.8;
				stroke-width:1;
				fill:none;

				&.inner {
					stroke:#b7d9f4;
					stroke-opacity:1;
				}

				&.inner-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$inner_line;
				}

				&.middle-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$middle_line;
				}

				&.outer-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$outer_line;
				}
			}
		}

		.ghost-track {
			path {
				stroke:none;
				stroke-width:1;
				fill:none;
			}
			path.ghost-team {
				stroke:#000;
				stroke-width:3;
				fill:none;

				&#ghost_team1 {
					//stroke:none;
				}	
			}
			.ghost {
				circle {
					fill:#000;
					&.gold {
						fill:$gold;
					}
					&.silver {
						fill:$silver;
					}
					&.bronze {
						fill:$bronze;
					}
				}

			}
		}		

		.teams {
			.team {
				path {
					fill:none;
					stroke-width:8;
					stroke:#333;

					//transition: stroke-dasharray 1s;

					&.gold {
						stroke:$gold;
					}
					&.silver {
						stroke:$silver;
					}
					&.bronze {
						stroke:$bronze;
					}

					&.team-gap {
						stroke-width:8;
						stroke-opacity:0.25;
					}
				}
			}
		}
	}

	@import "annotations";

	.annotations {
		.annotation {
			width:auto;
			h3 {
				@include fs-header(2);
				line-height: 14px;
				margin:0;
				padding:0;
				margin-bottom:2px;
				border-bottom:3px solid;
				display: inline-block;
			}
			
			&.gold h3 {
				border-color:$gold;
			}
			&.silver h3 {
				border-color:$silver;
			}

			span {
				position:relative;
				@include fs-headline(2);
			}
			i {
				@include fs-headline(2);
				text-decoration: normal;
				color:#bdbdbd;
			}
		}
	}

	/* .overlay {
		top:0;
		left:0;
		width:100%;
		position: absolute;
		.team-info {
			position: absolute;

			h3 {
				@include fs-header(2);
				span {
					@include fs-headline(2);
					margin-left:10px;
					i {
						margin-left:10px;
						text-decoration: normal;
						color:#bdbdbd;
					}
				}
				b {
					border-bottom:3px solid;
				}
			}

			&.gold b {
				border-color:#ffd700;
			}
			&.silver b {
				border-color:#c0c0c0;
			}
		}
	} */
}