.team-pursuit {
	$ratio:(85.73+25.0*2)/50;
	$width:100%;
	$height:500px;
	//max-width:1260px;

	width:$width;
	height:$height;

	position: relative;

	perspective: 400px;
	perspective-origin: 50% 100%;
	transform-style: preserve-3d;
	
	svg,.rio-overlay {
		transform-style: preserve-3d;
		//transform:rotateX(30deg) rotateY(0deg) rotateZ(20deg) translateX(90px) translateY(40px) translateZ(40px) scale(1);
	}

	svg {
		
		display: block;
	
		margin: 0 auto;
		

		

		.scaffolding {
			line {
				stroke:#fff;
				stroke-width:2;
				shape-rendering:crispEdges;
			}	
		}

		.bg {
			path {
				stroke:#f2ecde;
				stroke-width:1;
				fill:none;

				&.inner {
					stroke:#b7d9f4;
				}

				&.inner-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$inner_line;
				}

				&.middle-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$middle_line;
				}

				&.outer-line {
					stroke-width:1;
					stroke-opacity:0.25;
					stroke:$outer_line;
				}
			}
		}

		.ghost-track {
			path {
				stroke:none;
				stroke-width:1;
				fill:none;
			}
			path.ghost-team {
				stroke:#000;
				stroke-width:3;
				fill:none;

				&#ghost_team1 {
					//stroke:none;
				}	
			}
			.ghost {
				circle {
					fill:#000;
					&.gold {
						fill:#ffd700;
					}
					&.silver {
						fill:#c0c0c0;
					}
					&.bronze {
						fill:#cd7f32;
					}
				}

			}
		}		

		.teams {
			.team {
				path {
					fill:none;
					stroke-width:5;
					stroke:#333;

					//transition: stroke-dasharray 1s;

					&.gold {
						stroke:#ffd700;
					}
					&.silver {
						stroke:#c0c0c0;
					}
					&.bronze {
						stroke:#cd7f32;
					}
				}
			}
		}
	}

	@import "annotations";

	.annotations {
		.annotation {
			width:auto;
			h3 {
				@include fs-header(2);
				line-height: 14px;
				margin:0;
				padding:0;
				margin-bottom:2px;
				border-bottom:3px solid;
				display: inline-block;
			}
			
			&.gold h3 {
				border-color:#ffd700;
			}
			&.silver h3 {
				border-color:#c0c0c0;
			}

			span {
				position:relative;
				@include fs-headline(2);
			}
			i {
				@include fs-headline(2);
				text-decoration: normal;
				color:#bdbdbd;
			}
		}
	}

	/* .overlay {
		top:0;
		left:0;
		width:100%;
		position: absolute;
		.team-info {
			position: absolute;

			h3 {
				@include fs-header(2);
				span {
					@include fs-headline(2);
					margin-left:10px;
					i {
						margin-left:10px;
						text-decoration: normal;
						color:#bdbdbd;
					}
				}
				b {
					border-bottom:3px solid;
				}
			}

			&.gold b {
				border-color:#ffd700;
			}
			&.silver b {
				border-color:#c0c0c0;
			}
		}
	} */
}