@import "fonts";
@import "palette";
@import "mq";


html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

@import "general";
@import "standfirst";
@import "stopwatch";
@import "swimming-perspective";
@import "running-perspective";
@import "oval";

.interactive-embed {
	min-height:10px;
}

.interactive-embed {

    border-radius:10px;

    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    position: relative;

    padding: 1px;
    
}
